name: Deploy automático para Hostinger

on:
  push:
    branches: [ "main" ]

jobs:
  ftp-deploy:
    name: Deploy via FTP
    runs-on: ubuntu-latest

    steps:
      - name: Checkout do código
        uses: actions/checkout@v3

      - name: Deploy somente da pasta PUBLIC
        uses: SamKirkland/FTP-Deploy-Action@4.3.0
        with:
          server: 82.25.67.216
          username: u698920850.appuniasessor
          password: ${{ secrets.FTP_PASSWORD }}
          protocol: ftp
          port: 21
          security: loose
          local-dir: public/
          server-dir: /public_html/
